[http]
	sslVerify = false
	postBuffer = 1M
[color]
        branch = auto
        diff = auto
        interactive = auto
	status = auto
[credential "*"]
    helper = store --file ~/.my-credentials
	helper = cache --timeout=604800 #one week
[core]
        editor = vim
[alias]
        alias = !git config -l | grep alias | cut -c 7-
	c = commit
	cm = "!f(){ git commit -m \"$*\"; }; f"
        di = diff
        ds = diff --staged
        dw = diff --color-words
        l = !git ll | head -n10
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
	lll = !git ll --stat
	lc = !git lll --no-merges ORIG_HEAD..
	s = status
	unadd = reset HEAD
[push]
	default = simple
[user]
	email = romain@lrasc.fr
	name = hargathor
[credential]
    helper = store --file ~/.my-credentials
[merge]
    tool = meld

[mergetool "meld"]
    cmd = meld --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output \"$MERGED\" --label \"MERGE (REMOTE BASE MY)\"
    trustExitCode = false

[mergetool]
    # don't ask if we want to skip merge
    prompt = false

    # don't create backup *.orig files
    keepBackup = false

# ------------------ D I F F -------------------------
[diff]
    guitool = meld

[difftool "meld"]
    cmd = meld \"$LOCAL\" \"$REMOTE\" --label \"DIFF (ORIGINAL MY)\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
